<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title th:text="#{tituloCl}"></title>
    <style>
        .clearfix::after {
            content: "";
            display: block;
            clear: both;
        }

    </style>
</head>
<body>
<body>

<div id="contenedora" style="float:none; margin: 0 auto;width: 900px;" >
    <div class="clearfix">
        <div style="float: left; width: 50%">
            <h1 th:text="#{tituloCl}"></h1>
        </div>
        <div style="float: none;width: auto;overflow: hidden;min-height: 80px;position: relative;">

            <div style="position: absolute; left: 39%; top : 39%;">

                <form action="/clientes/crear">
                    <input class="btn btn-primary" type="submit" th:value="#{Crear}">
                </form>
            </div>

        </div>
    </div>
    <div class="clearfix">
        <hr/>
    </div>
    <div class="clearfix">
        <div th:text="#{codigo}" style="float: left;width: 33%"></div>
        <div  th:text="#{nombre}" style="float: left;width: 33%"></div>
        <div th:text="#{Accion}" style="float: none;width: auto;overflow: hidden;"></div>
    </div>
    <div class="clearfix">
        <hr/>
    </div>

    <div  th:each="cliente : ${listaClientes}" style="margin-top: 6px;" class="clearfix">
        <div style="float: left;width: 33%" th:text="${cliente.id}">Código</div>
        <div style="float: left;width: 33%" th:text="${cliente.nombre}">Nombre</div>
        <div style="float: none;width: auto;overflow: hidden;">
            <form th:action="@{/clientes/__${cliente.id}__}" style="display: inline;">
                <input class="btn btn-primary" type="submit" th:value="#{Ver_Detalle}" />
            </form>
            <form th:action="@{/clientes/editar/}+${cliente.id} " style="display: inline;">
                <input class="btn btn-primary" type="submit" th:value="#{Editar}" />
            </form>
            <form th:action="@{/clientes/borrar/__${cliente.id}__}" method="post" style="display: inline;">
                <input class="btn btn-primary" type="submit" th:value="#{Eliminar}" />
            </form>
        </div>
    </div>
</div>
</body>
</body>
</html>